apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "platformMonitoring.fullname" . }}-resources-monitor
  labels:
    {{- include "platformMonitoring.labels.standard" . | nindent 4 }}
    service: platform-resources-monitor
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ include "platformMonitoring.name" . }}
      release: {{ .Release.Name }}
      service: platform-resources-monitor
  template:
    metadata:
      labels:
        app: {{ include "platformMonitoring.name" . }}
        release: {{ .Release.Name }}
        service: platform-resources-monitor
      {{- if or .Values.annotations .Values.resourcesMonitor.podAnnotations }}
      annotations:
        {{- with .Values.annotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- with .Values.resourcesMonitor.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- end }}
    spec:
      containers:
      - name: resources-monitor
        image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
        command: [platform-monitoring-resources-monitor]
        livenessProbe:
          httpGet:
            path: /ping
            port: http
          initialDelaySeconds: 10
          periodSeconds: 5
        readinessProbe:
          httpGet:
            path: /ping
            port: http
          initialDelaySeconds: 10
          periodSeconds: 10
        ports:
          - containerPort: 8080
            name: http
            protocol: TCP
        {{- with .Values.resourcesMonitor.resources }}
        resources:
          {{- toYaml . | nindent 10 }}
        {{- end }}
        env:
          {{- include "platformMonitoring.env.common" . | nindent 10 }}
        volumeMounts:
          {{- include "platformMonitoring.volumeMounts.common" . | nindent 10 }}
      {{- if .Values.securityContext.enabled }}
      securityContext:
        runAsUser: {{ .Values.securityContext.runAsUser }}
        runAsGroup: {{ .Values.securityContext.runAsGroup }}
        runAsNonRoot: {{ .Values.securityContext.runAsNonRoot }}
        fsGroup: {{ .Values.securityContext.fsGroup }}
        fsGroupChangePolicy: {{ .Values.securityContext.fsGroupChangePolicy}}
      {{- end }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.priorityClassName }}
      priorityClassName: {{ . }}
      {{- end }}
      volumes:
        {{- include "platformMonitoring.volumes.common" . | nindent 8 }}
